<a href="https://colab.research.google.com/github/Domingos336/Linguagem-de-programa-o/blob/main/Aplica%C3%A7ao_de_Banco_de_Dados_com_Phyton_Aula1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import sqlite3

# 1.Conectar ao banco de dados (ou criar um novo)
#Usando a função connect do módulo sqlite3 para se conectar a um banco de dados SQLite
#chamado 'exemplo.db'. Se o banco de dados não existir, ele será criado automaticamente.
conn = sqlite3.connect('exemplo.db')

# 2. Criar um objeto cursor
#O cursor é usado para executar comandos SQL no banco de dados.
#Ele atua como uma espécie de ponteiro que percorre os resultados de consultas.
cursor = conn.cursor()

# 3. Definir o comando SQL para criar a tabela
#define uma String create_table que contém um comando SQL oara criar uma tabela chamada "Podutos".
#Esta tabela terá quatro colunas: id (chave primária), nome (texto), preço (número real) e estoque (número inteiro).
# O IF NOT EXISTS garente que a tabela só será criada se ainda não existir
create_table = """
CREATE TABLE IF NOT EXISTS Produtos (
    id INTEGER PRIMARY KEY,
    nome TEXT NOT NULL,
    preco REAL NOT NULL,
    estoque INTEGER
);
"""
#Usa o método execute do objeto cursor para executar o comando SQL definido anteriormente e criar a tabela no banco de dados.
# 4. Executar o comando SQL para criar a tabela
cursor.execute(create_table)


# 5. Confirmar as alterações (commit)
#Após a execução bem-sucedida do comando SQL, usa o método commit no objeto de conexão (conn) para confirmar as alterações no banco de dados.
#Isso garante que as alterações sejam efetivamente aplicadas
conn.commit()


#6. Fechar a conexão com o banco de dados
#Finalmente, você usa o método close no objeto de conexão para encerrar a conexão com o banco de dados.
#É uma prática recomendada fechar a conexão após a conclusão das operações, para liberar recursos e evitar possiveis problemas de concorrência.
conn.close()

In [26]:
#adicionar produto
import sqlite3
#Conectando ao banco de dados
conn = sqlite3.connect('exemplo.db')
cursor = conn.cursor()
#Dados do novo produto
novo_produto = ('Camiseta', 99.99, 50)
#Comando SQL para inserir o novo produto na tabela
inserir_produto = "INSERT INTO Produtos (nome, preco, estoque) VALUES (?, ?, ?)"
#Executando o comando SQL para inserir o novo produto
cursor.execute(inserir_produto, novo_produto)
#Confirmando as alterações no banco de dados
conn.commit()
#Fechando a conexão
conn.close()

In [30]:
#visualizar produto
#Conectando ao banco de dados
conn = sqlite3.connect('exemplo.db')
cursor = conn.cursor()
#Comando SQL para selecionar todos os produtos da tabela
selecionar_produtos = "SELECT * FROM Produtos"
#Executando o comando SQL para selecionar os produtos
cursor.execute(selecionar_produtos)
#Obtendo todos os registros e exibindo-os
produtos = cursor.fetchall()
for produto in produtos:
    print(produto)
#Fechando a conexão
conn.close()
print("Rodei o novo produto 6 vezes por isso mostra 6 opções")

(3, 'Camiseta', 19.99, 50)
(4, 'Camiseta', 19.99, 50)
(5, 'Camiseta', 19.99, 50)
(6, 'Camiseta', 99.99, 50)
(7, 'Camiseta', 99.99, 50)
(8, 'Camiseta', 99.99, 50)
Rodei o novo produto 6 vezes por isso mostra 6 opções

In [28]:
#atualizar o produto
import sqlite3
#Conectando ao banco de dados
conn = sqlite3.connect('exemplo.db')
cursor = conn.cursor()
#Novo preço e ID do produto a ser atualizado
novo_preco = 249.90
produto_id = 2  #Suponhamos que queremos atualizar o produto com ID 1
#Comando SQL para atualizar o preço do produto
atualizar_preco = "UPDATE Produtos SET preco = ? WHERE id = ?"
#Executando o comando SQL para atualizar o preço do produto
cursor.execute(atualizar_preco, (novo_preco, produto_id))
#Confirmando as alterações no banco de dados
conn.commit()
#Fechando a conexão
conn.close()

In [29]:
#Excluir produto
import sqlite3
#Conectando ao banco de dados
conn = sqlite3.connect('exemplo.db')
cursor = conn.cursor()
#ID do produto a ser excluído
produto_id = 2  #Suponhamos que queremos excluir o produto com ID 2
#Comando SQL para excluir o produto
excluir_produto = "DELETE FROM Produtos WHERE id = ?"
#Executando o comando SQL para excluir o produto
cursor.execute(excluir_produto, (produto_id,))
#Confirmando as alterações no banco de dados
conn.commit()
#Fechando a conexão
conn.close()

In [45]:
import sqlite3
#CREATE (Criação da tabela e inserção de dados de exemplo)
conn = sqlite3.connect('contatos.db')
cursor = conn.cursor()
cursor.execute('''
     CREATE TABLE IF NOT EXISTS Contatos(
         id INTEGER PRIMARY KEY AUTOINCREMENT,
         nome TEXT,
         email TEXT,
         telefone TEXT
     )
''')
dados_exemplo = [
    ('João', 'joao@email', '123-456-7890'),
    ('Maria', 'maria@email', '987-654-3210'),
    ('Carlos', 'carlos@email', '555-555-5555')
]
cursor.executemany('INSERT INTO Contatos (nome, email, telefone) VALUES (?, ?, ?)', dados_exemplo)
conn.commit()

#READ (Leitura e exibição dos contatos)
cursor.execute('SELECT * FROM Contatos')
contatos = cursor.fetchall()
print("Contatos:")
for contato in contatos:
    print(contato)
# UPDATE (Atualização do número de telefone do contato com ID 2)

novo_telefone = '999-999-9999'
contato_id = 2
cursor.execute('UPDATE Contatos SET telefone = ? WHERE id = ?', (novo_telefone, contato_id))
conn.commit()

# DELETE (Execlusão do contato com ID)
contato_id_para_excluir = 1
cursor.execute('DELETE FROM Contatos WHERE id = ?', (contato_id_para_excluir,))
conn.commit()
#Fechando a conexão
conn.close()

Contatos:
(11, 'Maria', 'maria@email', '987-654-3210')
(12, 'Carlos', 'carlos@email', '555-555-5555')
(13, 'João', 'joao@email', '123-456-7890')
(14, 'Maria', 'maria@email', '987-654-3210')
(15, 'Carlos', 'carlos@email', '555-555-5555')
(16, 'João', 'joao@email', '123-456-7890')
(17, 'Maria', 'maria@email', '987-654-3210')
(18, 'Carlos', 'carlos@email', '555-555-5555')
(19, 'João', 'joao@email', '123-456-7890')
(20, 'Maria', 'maria@email', '987-654-3210')
(21, 'Carlos', 'carlos@email', '555-555-5555')