<a href="https://colab.research.google.com/github/Domingos336/Linguagem-de-programa-o/blob/main/Aplica%C3%A7ao_de_Banco_de_Dados_com_Phyton_Aula2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd

#Criando uma lista de valores
exemplo1 = [10 ,20, 30, 40, 50]

#Criando uma Series a partir da lista
series1 = pd.Series(data = exemplo1)

print(exemplo1)
print(series1)

[10, 20, 30, 40, 50]
0    10
1    20
2    30
3    40
4    50
dtype: int64

In [6]:
import pandas as pd

#Criando um dicionário com pares chave-valor
Exemplo2 = {'A': 100, 'B': 200, 'C': 300, 'D': 400, 'E': 500}

#Criando uma Series a partir do dicionário
series2 = pd.Series(data = Exemplo2)

print(Exemplo2)
print(series2)

{'A': 100, 'B': 200, 'C': 300, 'D': 400, 'E': 500}
A    100
B    200
C    300
D    400
E    500
dtype: int64

In [7]:
import pandas as pd
url = 'https://www.fdic.gov/bank-failures/failed-bank-list'
dfs = pd.read_html(url)

print(type(dfs))
print(len(dfs))

<class 'list'>
1

In [8]:
df_bancos = dfs[0]

In [9]:
print(df_bancos.shape)

(25, 7)

In [10]:
print(df_bancos.dtypes)

Bank Name                object
City                     object
State                    object
Cert                      int64
Acquiring Institution    object
Closing Date             object
Fund  Sort ascending      int64
dtype: object

In [11]:
df_bancos.head()

,Bank Name,City,State,Cert,Acquiring Institution,Closing Date,Fund Sort ascending
0,The Santa Anna National Bank,Santa Anna,Texas,5520,Coleman County State Bank,"June 27, 2025",10549
1,Pulaski Savings Bank,Chicago,Illinois,28611,Millennium Bank,"January 17, 2025",10548
2,The First National Bank of Lindsay,Lindsay,Oklahoma,4134,First Bank & Trust Co.,"October 18, 2024",10547
3,Republic First Bank dba Republic Bank,Philadelphia,Pennsylvania,27332,"Fulton Bank, National Association","April 26, 2024",10546
4,Citizens Bank,Sac City,Iowa,8758,Iowa Trust & Savings Bank,"November 3, 2023",10545

In [18]:
import pandas as pd

#Criar um dicionário com nomes e idades
dados = {
    'Nome': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Idade': [25, 30, 35, 40, 45]
}
#Criar uma série a partir do dicionário
serie_idades = pd.Series(dados['Idade'], index=dados['Nome'])
#Exibir a série de idades
print("Série de Idades:")
print(serie_idades)
#Calcular a média das idades
media_idades = serie_idades.mean()
print("\nMédia de Idades:", media_idades)

Série de Idades:
Alice      25
Bob        30
Charlie    35
David      40
Eve        45
dtype: int64

Média de Idades: 35.0

In [17]:
#Teste para Calcular a média das idades
media_idades = serie_idades.mean()
print("\nMédia de Idades:", media_idades)

Média de Idades: 35.0