<a href="https://colab.research.google.com/github/Domingos336/Linguagem-de-programa-o/blob/main/Final_De_Introdu%C3%A7%C3%A3o_%C3%A0_An%C3%A1lise_de_dados_com_Phyton.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import sqlite3
#Passo 1: Conectar ao banco de dados SQLite (ou criá-lo se não existir)
conn = sqlite3.connect("funcionarios.db")

In [2]:
#Passo 2: Criar a tabela de funcionários
cursor = conn.cursor()
cursor.execute("""
    CREATE TABLE IF NOT EXISTS funcionarios (
        id INTEGER PRIMARY KEY,
        nome TEXT,
        cargo TEXT,
        salario REAL
    )
""")

In [14]:
# Passo 3: Inserir um novo funcionário na tabela
novo_funcionario = (2, "Maria", "Gerente", 10000.0)
cursor.execute("INSERT INTO funcionarios VALUES (?, ?, ?, ?)", novo_funcionario)
conn.commit()

In [19]:
#Passo 4: Consultar e exibir funcionários
cursor.execute("SELECT * FROM funcionarios")
funcionarios = cursor.fetchall()
print("Funcionários Cadastrados")
for funcionario in funcionarios:
    print(funcionario)

Funcionários Cadastrados
(2, 'Maria Silva', 'Gerente', 15000.0)

In [16]:
#Passo 5: Atualizar informações de um funcionário
atualizacao = ("Maria Silva", 15000.0, 2)
cursor.execute("UPDATE funcionarios SET nome = ?, salario = ? WHERE id = ?", atualizacao)
conn.commit()

In [18]:
#Passo 6: Deletar um funcionário
id_funcionario_para_deletar = 1
cursor.execute("DELETE FROM funcionarios WHERE id = ?", (id_funcionario_para_deletar,))
conn.commit()