<a href="https://colab.research.google.com/github/Domingos336/Linguagem-de-programa-o/blob/main/Introdu%C3%A7%C3%A3o_a_manipula%C3%A7%C3%A3o_de_dados_em_Panda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
import pandas as pd
df_selic = pd.read_jason("https://www.gov.br/pt-br/servicos/novo-servico-conecta=json")

print(df_selic.info())
print(df_selic)

In [ ]:
#Verificar duplicidade de linhas (passo muito importante), utilizando a função drop_duplicates()
df_selic.drop_duplicates(keep='last', inplace=True)
#mantem o último registro (keep='last')
#atráves do parâmetro inplace=true, faz com que a transformação seja salva do DataFrame
#no nosso caso nao existe linhas duplicatas

In [ ]:
print(df_selic)

In [ ]:
#adicionando colunas
from datetime import date
from datetime import datetima as dt

data_extracao = date.today()

df_selic['data_extracao'] = data_extracao
df_selic['responsavel'] = "Domingos"

print(df_selic.info())
df_selic.head(10)

In [ ]:
df_selic.loc[0]

In [ ]:
df_selic.loc[[0,20,70]]

In [ ]:
teste = df_selic['valor'] < 0.01
print(type(teste))

In [ ]:
print(teste)

In [10]:
import pandas as pd

#Criando um DataFrame com 5 linhas de dados
data = {
    'nome': ['Produto A', 'Protudo B', 'Produto C', 'Produto A', 'Produto E'],
    'quantidade de itens comprados': [3, 1, 4, 3, 2],
    'tipo de item': ['Eletrônico', 'Vestuário', 'Alimento', 'Eletrônico', 'Alimento'],
    'receita total': [120, 80, 60, 120, 90]
}
df = pd.DataFrame(data)

print(df)

        nome  quantidade de itens comprados tipo de item  receita total
0  Produto A                              3   Eletrônico            120
1  Protudo B                              1    Vestuário             80
2  Produto C                              4     Alimento             60
3  Produto A                              3   Eletrônico            120
4  Produto E                              2     Alimento             90

In [13]:
#Duplicando uma linha
df['preço do item'] = df['receita total'] / df['quantidade de itens comprados']

#Selecionando preço do item acima de 50 reais
itens_acima_de_50 = df[df['preço do item'] > 50]

print("Itens acima de 50 reais:")
print(itens_acima_de_50)

Itens acima de 50 reais:
        nome  quantidade de itens comprados tipo de item  receita total  \
1  Protudo B                              1    Vestuário             80

   preço do item
1           80.0